* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  /* overflow: hidden; */
}

/* Orden de las propiedades 
    Posicionamiento
        *Position
        *top,left,right,bottom
        *Z-index
    Modelo de caja
        *Display
        *Height
        *Width
    Tipografía y texto
        *Fonts
        *Colores de fuente
    Visual
        *Background-color
        *Border-radius
    Miscelanea
        *Opacity
        Entre otros
    Animaciones y transiciones al final de todo

*/

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 40% 30% 30%;
  /* grid-column-gap: 10px; */
}

.element-1 {
  position: relative;
  z-index: 1;

  grid-area: 2/2/3/4;

  background-color: red;
}
/* .element-1:hover {
  top: 10px;
  left: 10px;
  z-index: 10;
} */

.element-2 {
  grid-area: 1/1/3/2;

  border: 5px solid black;
  background-color: brown;
}
.element-3 {
  grid-area: 3/1/4/3;
  background-color: blue;
}

.element-4 {
  grid-area: 1/2/2/4;
  position: relative;

  background-color: chartreuse;
}
/* .element-4:hover {
  top: 10px;
  left: 10px;
  z-index: 10;
} */

.element-5 {
  grid-area: 3/3/4/4;
  
  background-color: crimson;
}

/* Comentario hecho para verificar fetch */
/* Comentario extra */
