* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: white;
}

:root {
  --main: #a5a58d;
}

/* Un estandar para ajustar html y body a los tamaños de la pantalla son las lineas siguientes
html{
  width: 100%
}
body {
  min-width: 100%
}
*/

html {
  width: 100%;
  min-width: 320px;

}

body {
  background-color: var(--main);
  /* overflow-x: hidden; */
  min-width: 320px;
  overflow-x: hidden;
}

/*  Orden de las propiedades 
        Posicionamiento
            *Position
            *top,left,right,bottom
            *Z-index
        Modelo de caja
            *Display
            *Height
            *Width
        Tipografía y texto
            *Fonts
            *Colores de fuente
        Visual
            *Background-color
            *Border-radius
        Miscelanea
            *Opacity
            Entre otros
        Animaciones y transiciones al final de todo
      Consideraciones
          *Deben de hacerce cuadrados, no se puede poner
          el mismo componente en varios lugares, evitando
          la creación de un cuadrado
    */

/* ---------- General components ----------  */
.button {
  height: 30px;
  width: 90px;
  background-color: blue;
  border-radius: 5px;
  outline: none;
  border: none;
  /* text-align: center; */
}

.card {
  /* min-height: 200px; */
  height: 200px;
  min-width: 180px;
  width: 120px;
  max-width: 250px;
  background-color: black;
}

.container {
  height: auto;
  /* width: 100vw; */
  max-width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 60px 1fr 100px;
  grid-template-columns: 70px repeat(8, 1fr) 70px;

  grid-template-areas:
    ". nav nav nav nav nav nav nav nav ."
    ". main main main main main main main main ."
    ". footer footer footer footer footer footer footer footer .";
}

/* ----- Nav ----- */
.nav {
  grid-area: nav;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;

  background-color: var(--main);
}

.nav__leftside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nav__rightside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav__rightside>div {
  margin-right: 15px;
  cursor: pointer;
}

/* ----- Main ----- */

.main {
  /* background-color: black; */
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  border-right: 2px solid #b7b7a4;
  border-left: 2px solid #b7b7a4;
}

.main__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: calc(100% - 160px); */
}

.main__slider img {
  content: "Image";
  display: block;
  /* object-fit: cover; */
  width: 100%;
}

/* ----- Footer ----- */

.footer {
  grid-area: footer;
  /* background-color: orange; */

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__option {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  cursor: pointer;

  /* background-color: yellowgreen; */
}

.footer__option:hover:after {
  position: absolute;
  top: 0;

  height: 5px;
  width: 100%;

  content: "";

  background-color: gray;

  border-radius: 2px;
}


/* ----- Features ----- */

.features {
  display: grid;
  grid-template-columns: 90px repeat(3, 1fr) 90px;
  grid-template-rows: 125px 1fr 100px;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;

  background-color: #ffe8d6;
}

.features__top {
  grid-area: 1/2/2/5;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: red; */

}

.features__mid {
  
  grid-area: 2/2/2/5;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 20px;
  align-items: center;
  /* justify-content: space-evenly; */
  align-content: space-around;
  padding: 20px 20px;

  /* background-color: orange; */

  overflow-x: auto;
}

.features__bottom {
  /* background-color: green; */
  grid-area: 3/2/4/5;

  display: flex;
  justify-content: center;

  padding-top: 15px;
}

@media screen and (min-width: 320px) {
  .features__mid {
    overflow-y: auto;
    /* flex-direction: column; */
  }

  .card {
    min-height: 200px;
  }
}

@media screen and (min-width: 768px){
  
}

@media screen and (min-width: 1024px){
  
}

@media screen and (min-width: 1440px){
  
}