* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #5956e9;
    --border-color: #7572ff;
}

/* Orden de las propiedades 
    Posicionamiento
        *Position
        *top,left,right,bottom
        *Z-index
    Modelo de caja
        *Display
        *Height
        *Width
    Tipografía y texto
        *Fonts
        *Colores de fuente
    Visual
        *Background-color
        *Border-radius
    Miscelanea
        *Opacity
        Entre otros
    Animaciones y transiciones al final de todo

*/

html {
    width: 100vw;
    height: 100%;

}

body {
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.first {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 1100px;

    background: url('/apollyLandingPage/src/imgs/bg.png');

}

.nav {
    position: fixed;
    z-index: 50;
    top: 45px;
    left: calc(50% - 42.5vw);
    width: 85vw;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0.3px rgba(0, 0, 0, 0.3);
}

.nav__burguer {
    position: relative;
    left: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20px;
    align-items: center;
    width: 25px;
    
    /* background-color: red; */
}
.nav__burguer > .div {
    height: 2px;
    width: 80%;
    
    background-color: black;
    
    border-radius: 3px;
}

.nav__button{
    height: 95%;
    margin: 2px;
    padding: 0 10px;
    
    color: white;
    
    background-color: #5956e9;
    
    border: none;
    border-radius: 5px;
}
.nav__icon {
    position: absolute;
    left: calc(50% - 50px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0.5px 0.5px #cbcbcb;
}
.nav__icon > img {
    height: 12px;
    width: auto;
}

.announce {
    position: relative;
    z-index: 10;
    top: 175px;
    
    align-self: center;
    height: 250px;
    width: 75%;
    padding: 15px;
    max-width: 500px;
    
    background-color: #fff;
    /* border: 10px solid var(--border-color); */
}

.announce > h3 {
    margin-bottom: 10px;
    
    font-weight: 700;
    color: var(--main-color);
}

.announce > p {
    margin: 10px 0;
}
.announce > h5 {
    position: absolute;
    bottom: 55px;
    left: 22px;
    
    letter-spacing: 3px;
}

.announce__downloads {
    position: absolute;
    bottom: 15px;
    left: 20px;
    
    display: flex;
    flex-direction: row;
    
    column-gap: 10px;
}

.announce__downloads > img {
    height: 30px;
    width: auto;
}

/* .announce > .border {
    display: block;
    content: " ";
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: -10;
    height: calc(100% + 20px);
    width: calc(80% + 50px);
    background-color: red;
    border: 10px solid var(--border-color);
} */
.announce + .border {
    position: relative;
    left: 20px;
    top: -95px;
    z-index: 0;
    
    display: block;
    height: 290px;
    width: 75%;
    align-self: center;
    max-width: 500px;
    
    content: " ";
    border: 10px solid var(--border-color);
}

.mobileApp {
    position: relative;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
    height: auto;
}

/* --------------------------------------------------------------- */
/* ---------------------------- about ---------------------------- */
/* --------------------------------------------------------------- */

.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 350px 350px;
    width: 100%;
    margin-top: 30px;
    /* padding: 100px; */
    padding-bottom: 120px;
}

.titleNdesc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutCardFeatures {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleNdesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1/1/2/2;
    padding: 0 20px;
}

.mobileApp__about {

    grid-area: 2/1/3/2;
    /* margin-top: 40px; */
}

.titleNdesc__title {
    margin: 10px 0 30px 0;
    font-size: 25px;
    font-weight: 500;
}

.titleNdesc__desc {
    margin: 20px 0 20px 0;

}

.aboutCardFeatures {
    /* position: relative; */

    grid-area: 3/1/4/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.aboutCardFeature {
    position: relative;

    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    margin: 10px 0;
    padding: 10px 10px 10px 90px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.1);
    max-width: 390px;
    min-height: 130px;
}

.aboutCardFeature__title {
    font-size: 20px;
    margin: 5px 0 5px 0;
    letter-spacing: 2PX;
}

.aboutCardFeature__desc {
    font-size: 16px;
}

.aboutCardFeature__icon {
    position: absolute;
    font-size: 30px !important;
    left: 40px;
    top: 18px;
    color: var(--main-color);
}

/* --------------------------------------------------------------- */
/* ------------------------ App Features ------------------------- */
/* --------------------------------------------------------------- */

.appFeatures {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 2150px;

    text-align: center;

    background: url('src/imgs/bgFeatures.png');
    background-size: cover;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 340px;
    text-align: center;
}

.feature:nth-child(n){
    color: #fff;
}
.aboutCardFeature__title--featuresTitle {
    font-size: 25px;
    margin: 30px 0;
    color: #fff;
}
.appFeatures__desc {
    color: #fff;
}

.aboutCardFeature__title--FEATURES {
    margin: 30px 0;
}

.feature__icon--FEATURES {
    font-size: 45px !important;
}


@media screen and (min-width:425px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {}