* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-color: #5956e9;
    --border-color: #7572ff;
}

/* Orden de las propiedades 
    Posicionamiento
        *Position
        *top,left,right,bottom
        *Z-index
    Modelo de caja
        *Display
        *Height
        *Width
    Tipografía y texto
        *Fonts
        *Colores de fuente
    Visual
        *Background-color
        *Border-radius
    Miscelanea
        *Opacity
        Entre otros
    Animaciones y transiciones al final de todo

*/

html {
    width: 100vw;

}

body {
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
}

.first {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 1100px;

    background: url('/apollyLandingPage/src/imgs/bg.png');

}

.nav {
    position: fixed;
    z-index: 50;
    top: 45px;
    left: calc(50% - 42.5vw);
    width: 85vw;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    border-radius: 5px;
}

.nav__burguer {
    position: relative;
    left: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20px;
    align-items: center;
    width: 25px;
    
    /* background-color: red; */
}
.nav__burguer > .div {
    height: 2px;
    width: 80%;
    
    background-color: black;
    
    border-radius: 3px;
}

.nav__button{
    height: 95%;
    margin: 2px;
    padding: 0 10px;
    
    color: white;
    
    background-color: #5956e9;
    
    border: none;
    border-radius: 5px;
}
.nav__icon {
    position: absolute;
    left: calc(50% - 50px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0.5px 0.5px #cbcbcb;
}
.nav__icon > img {
    height: 12px;
    width: auto;
}

.announce {
    position: relative;
    z-index: 10;
    top: 175px;
    
    align-self: center;
    height: 250px;
    width: 75%;
    padding: 15px;
    max-width: 500px;
    
    background-color: #fff;
    /* border: 10px solid var(--border-color); */
}

.announce > h3 {
    margin-bottom: 10px;
    
    font-weight: 700;
    color: var(--main-color);
}

.announce > p {
    margin: 10px 0;
}
.announce > h5 {
    position: absolute;
    bottom: 55px;
    left: 22px;
    
    letter-spacing: 3px;
}

.announce__downloads {
    position: absolute;
    bottom: 15px;
    left: 20px;
    
    display: flex;
    flex-direction: row;
    
    column-gap: 10px;
}

.announce__downloads > img {
    height: 30px;
    width: auto;
}

/* .announce > .border {
    display: block;
    content: " ";
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: -10;
    height: calc(100% + 20px);
    width: calc(80% + 50px);
    background-color: red;
    border: 10px solid var(--border-color);
} */
.announce + .border {
    position: relative;
    left: 20px;
    top: -95px;
    z-index: 0;
    
    display: block;
    height: 290px;
    width: 75%;
    align-self: center;
    max-width: 500px;
    
    content: " ";
    border: 10px solid var(--border-color);
}

.mobileApp {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
    height: auto;
}


@media screen and (min-width:320px) {
    /* .nav {} */
}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {}